/* SideBar.css */
.sidebar {
    background: linear-gradient(90deg, #001529 0%, #002545 100%) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    font-size: 15px;
    min-width: 220px;
    height: 100%;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border-right: 3px solid rgba(255, 215, 0, 0.7) !important;
}


.description {
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.node {
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #E0E0E0;
    background: linear-gradient(135deg, #FFFFFF 0%, #F7F7F7 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 85%;
    color: #333;
    transition: transform 0.2s, box-shadow 0.2s;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.12);
    }
}
.sidebar-container {
  position: absolute; /* This ensures the sidebar overlays the canvas */
  top: 0;
  left: 0;
  margin-top: 60px; 
  height: 100%;
  width: 250px;
  z-index: 10;
  display: flex;
  transition: transform 0.3s ease-in-out; /* Transition moved here for smoother effect */
}

.toggle-bar {
  display: flex;
  align-items: center; /* vertically center the button */
  justify-content: center; /* horizontally center the button */
  width: 40px; /* thin sidebar's width */
  background-color: #001529; 
  height: 100%; /* make it full height */
  z-index: 100; /* ensure it's on top of the main sidebar */
}

.toggle-btn {
  background-color: #002545;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-btn:hover {
  background-color: #003661;
}

.closed {
  transform: translateX(-100%);
     pointer-events: none; /* Ensure the hidden sidebar doesn't intercept mouse events */

}